.pokemon-detail {
  --background1: var(--green);
  --background2: var(--green2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  max-height: 100vh;
  background-color: var(--background1);
  transition: 0.5s ease;
  overflow: auto;
  color: var(--white);
  z-index: 1000;
}

.pokemon-detail .decoration-1 {
  opacity: 0.5;
  position: absolute;
  top: 80px;
  right: -110px;
  transform: scale(0.5);
}

.pokemon-detail .decoration-2 {
  position: absolute;
  top: -40px;
  left: -60px;
  width: 150px;
  height: 150px;
  border-radius: 2rem;
  background-image: linear-gradient(white, transparent);
  opacity: 0.3;
  transform: rotate(45deg);
  z-index: -1;
}

.pokemon-detail.blue {
  --background1: var(--blue);
  --background2: var(--blue2);
}

.pokemon-detail.red {
  --background1: var(--red);
  --background2: var(--red2);
}

.pokemon-detail.yellow {
  --background1: var(--yellow);
  --background2: var(--yellow2);
}

.pokemon-detail.show {
  top: 0;
}

.pokemon-detail .heading h1 {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin: 1rem 0 0.5rem 0;
}

.pokemon-detail .pokemon-types {
  display: flex;
  gap: 0.5rem;
}

.pokemon-detail .pokemon-types .pokemon-type {
  display: block;
  background-color: var(--background2);
  padding: 0.2rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.pokemon-detail .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.no-pokemon {
  font-size: 20px;
  color: #45adaa;
}
.pokemon-detail .heading p {
  font-weight: 600;
  padding-right: 0.5rem;
}
