/*------------------------------------*\
    #NORMALIZE
\*------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/*------------------------------------*\
    #RESET
\*------------------------------------*/

html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

:root {
  --black: #333;
  --green: #49d0b0;
  --green2: #61e1ca;
  --red: #fc6c6c;
  --red2: #fc7e7f;
  --yellow: #ffd86e;
  --yellow2: #ffde8c;
  --blue: #77bcfd;
  --blue2: #7dcfff;
  --gray: #bdbdbd;
  --gray2: #e0e0e0;
  --white: #f5f5f5;
}

/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

body {
  position: relative;
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  line-height: 1.4;
}

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

.container {
  padding: 3rem 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-right: 0.5rem;
}

.nav .back-btn {
  font-size: 1.7rem;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.clr-black {
  color: var(--black);
}

.clr-blue {
  color: var(--blue);
}

.clr-red {
  color: var(--red);
}

.clr-gray {
  color: #a0a0a0;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.text-capitalize {
  text-transform: capitalize;
}
